footer.footer
  .container
    .footer-wrap
      .footer-box
        p.footer-title NHA KHOA RĂNG SỨ I-DENT DIAMONDTECH
        .footer-address
          p.footer-title CƠ SỞ BÌNH THẠNH
          p Địa chỉ: 19V Nguyễn Hữu Cảnh, P.19, Q.Bình Thạnh, Tp.Hồ Chí Minh
          p Điện thoại : (028) 38406854
        .footer-address
          p.footer-title CƠ SỞ QUẬN 5
          p Địa chỉ: 193A – 195 Hùng Vương, Phường 9, Quận 5, Tp.Hồ Chí Minh
          p Điện thoại : (028) 38336818
        .footer-address
          p.footer-title CƠ SỞ GÒ VẤP
          p Địa chỉ: 83 Đường Số 3, KDC CityLand, P.10, Q.Gò Vấp, Tp.Hồ Chí Minh
          p Điện thoại : (028) 22036818
      .footer-box
        p.footer-title HOTLINE
        .support
          +blank("094 1818 618",'', 'tel:0941818618')
        p.footer-title GIỜ LÀM VIỆC:
        ul.time-list
          li.time-item
            span Thứ 2 – Thứ 7:
            span 8:00 – 20:00
          li.time-item
            span Chủ Nhật:
            span 8:00 – 12:00
        p.footer-title KẾT NỐI VỚI I-DENT DIAMONDTECH
        ul.social
          li.social-item
            a(href="#" target="_blank")
              +img("common/facebook.svg")
          li.social-item
            a(href="#" target="_blank")
              +img("common/youtube.svg")
          li.social-item
            a(href="#" target="_blank")
              +img("common/tik-tok.svg")
          li.social-item
            a(href="#" target="_blank")
              +img("common/pinterest.svg")
          li.social-item
            a(href="#" target="_blank")
              +img("common/twitter.svg")
          li.social-item
            a(href="#" target="_blank")
              +img("common/linkedin.svg")
      .footer-box
        p.footer-title THÔNG TIN CẦN BIẾT
        ul.menu-list
          li.menu-item
            a(href="#" target="_self")
              span Chính sách bảo hành
          li.menu-item
            a(href="#" target="_self")
              span Chính sách bảo mật
          li.menu-item
            a(href="#" target="_self")
              span Chính sách thanh toán
    .copyright
      span Copyright ® nhakhoaidentdiamondtech. All right Reserved
.mobile-cta
  ul.cta-list
    li.cta-item
      a(href="tel:0941818616")
        +img("blog/call.png")
        span Gọi tư vấn
    li.cta-item
      a(href="#")
        +img("blog/mess.png")
        span Messenger
    li.cta-item
      a(href="#")
        +img("blog/zalo.png")
        span Zalo Chat

