.overlay
.header-mobile.js-header-mobile
  .header-close.js-header-close
    +img("common/ico_close.svg")
  .header-wrap
    .header-main
      nav.header-nav
        ul.menu-list
          li.menu-item.current-menu-item.dropdown
            a(href="#")
              span Giới thiệu
            .child-wrap
              .child-group
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
          li.menu-item.dropdown
            a(href="#")
              span Bọc răng sứ thẩm mỹ
            .child-wrap
              .child-group
                p.child-tt
                  a(href="#" target="_self") các loại răng sứ
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
              .child-group
                p.child-tt
                  a(href="#" target="_self") răng sứ kim loại
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
              .child-group
                p.child-tt
                  a(href="#" target="_self") răng toàn sứ cao cấp
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
          li.menu-item.dropdown
            a(href="#")
              span Dán sứ Veneer
            .child-wrap
              .child-group
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
          li.menu-item.dropdown
            a(href="#")
              span Bảng giá răng sứ
            .child-wrap
              .child-group
                ul.menu-list
                  li.menu-item
                    +self
                      span Khóa học 1
                  li.menu-item
                    +self
                      span Khóa học 2
                  li.menu-item
                    +self
                      span Khóa học 3
          li.menu-item
            a(href="#")
              span Khách hàng
          li.menu-item
            a(href="#")
              span Kiến thức
          li.menu-item
            a(href="#")
              span Liên hệ